* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}

#resultat {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.window {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 5px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    min-width: 250px;
    min-height: 200px;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

select {
    font-size: 1.5em;
    padding: 10px;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.temps-container {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.temps-container select {
    width: 100%;
}

.terminaison-display {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.radical-display {
    font-size: 1.5em;
    color: #666;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .window {
        width: 100%;
    }
    
    #resultat {
        font-size: 2em;
    }
}